.root {
    display: flex;
    gap: 4px;
    text-transform: uppercase;
    font: var(--body2-caps);
}

.beforeDiscount {
    color: var(--content-disabled-color);
    text-decoration: line-through;
}
