.root {
    display: flex;
    gap: 128px;
    width: 100%;
}

.orderItemsSection {
    width: 100%;
}

.infoBox {
    font: var(--body1);
    padding: 12px;
    background-color: var(--surface-mid);
}

.orderItems {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.orderDetailsRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 0 16px;
    border-top: 1px solid var(--border-strong);
}

.note {
    font: var(--paragraph3);
    color: var(--secondary3);
}

.priceSummary {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.priceDetails {
    display: flex;
    flex-direction: column;
    font: var(--paragraph3);
}

.priceRow {
    display: flex;
    justify-content: space-between;
}

.addressSection {
    flex-direction: column;
    max-width: 350px;
    display: flex;
    width: 100%;
}

.addressData {
    text-align: right;
    font: var(--body1);
}

.deliveryTime {
    margin-top: 8px;
}

@media (max-width: 1023px) {
    .root {
        gap: 93px;
    }
    .addressSection {
        max-width: 330px;
    }
}

@media (max-width: 768px) {
    .root {
        flex-direction: column;
        gap: 40px;
    }
    .addressSection {
        max-width: unset;
    }
}

@media (max-width: 480px) {

    .priceSummary {
        grid-column: auto;
    }

    .addressSection {
        flex-direction: column;
        gap: 24px;
    }
}
.noteSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
