.menuList {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 8px;
}

.menuList li {
    height: 100%;
}

.menuList li a {
    display: inline-block;
    height: 100%;
    place-content: center;
}

.menuItem {
    padding: 0 12px;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
}

.menuList.vertical {
    flex-direction: column;
}
