.menuList {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

}

.menuList li{
    height: 100%;
}

.menuList.vertical {
    flex-direction: column;
}

.menuItem {
    padding: 0 12px;
    white-space: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
}

.menuItem:hover,
.menuItem.active {
    text-decoration: none;
}
