.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    padding: 80px 8px;
    max-width: 947px;
    display: block;
    width: 100%;
}

@media (max-width: 768px) {
    .page {
        padding-top: 30px;
    }

    .content {
        padding: 20px 8px;
    }
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 40px 8px 24px;
    width: 100%;
    border-bottom: 1px solid var(--border);
}
.div2 {
    gap: 12px;
}
