.page {
    padding: 100px 8px 0;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

.content {
    padding: 30px;
}

@media (max-width: 768px) {
    .page {
        padding-top: 30px;
    }

    .content {
        padding: 20px 8px;
    }
}
