.root {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 0 8px;
    align-items: center;
    width: 100%;
}

.accordion {
    width: 100%;
}

.question:hover {
    color: var(--content-secondary-color);
}

.question {
    color: var(--content-primary-color);
    font: var(--heading1);
    text-transform: uppercase;
    padding: 16px 40px;
    width: 100%;
    text-align: center;
}

.answer {
    width: 100%;
    text-align: center;
    padding: 0 40px;
}

@media (max-width: 767px) {
    .question {
        font: var(--heading2);
    }
}
