.root{
  display: flex;
  gap: 8px;
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}

.header {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 560px;
}
.subheading{
  font: var(--subheading);
  text-transform: uppercase;
  color: var(--text-secondary);
}
.title{
  font: var(--display);
}

@media (max-width: 767px) {
  .root {
    flex-direction: column;
    gap: 32px;
  }
}
