.trigger {
    cursor: pointer;
    user-select: none;
}

.content {
    padding: 16px 8px;
    background: var(--surface-light-color);
    box-shadow: 0 0 10px 0 #0000001a;
    max-width: min(var(--radix-dropdown-menu-content-available-width), 400px);
    max-height: var(--radix-dropdown-menu-content-available-height);
    overflow: auto;
    border-radius: 2px;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.item {
    border: 0.5px solid var(--border-light-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    height: 48px;
    padding-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 8px;
    gap: 16px;
    display: flex;
    align-items: center;
    border-radius: 2px;

    &:hover,
    &:focus {
        background: var(--surface-mid-color);
    }

    &:hover:focus-visible {
        box-shadow: unset;
    }

    &[data-disabled] {
        cursor: default;
        opacity: 0.5;
    }
}

.separator {
    margin: 4px 0;
    height: 1px;
    color: var(--border-light-color);
    border: 1px solid var(--border-light-color);
    opacity: 0.4;
}
