.trigger {
    cursor: pointer;
}

.content {
    padding: 8px;
    background: var(--surface-light);
    box-shadow: 0 0 10px 0 #0000001A;
    max-width: min(var(--radix-dropdown-menu-content-available-width), 400px);
    max-height: var(--radix-dropdown-menu-content-available-height);
    overflow: auto;
    border-radius: 2px;
}

.item {
    color: var(--primary5);
    padding: 5px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    box-shadow: none;

    &[data-highlighted] {
        background-color: var(--primary3);
    }

    &[data-disabled] {
        cursor: default;
        opacity: 0.5;
    }
}

.separator {
    margin: 5px 20px;
    height: 1px;
    border: 1px inset #eee;
    opacity: 0.4;
}
