.page {
    padding: 0 8px 50px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 8px;
    margin-top: 36px;
    padding: 0 119px 0 0;
    position: relative;
}

.productInfo {
    position: sticky;
    place-self: start;
    top: 106px;
}

.productName {
    font: var(--heading3);
}

.sku {
    margin-top: 8px;
    font: var(--paragraph3);
    line-height: 1;
    color: var(--primary4);
}

.price {
    margin-top: 8px;
    font: var(--heading3);
}

.description {
    margin-top: 8px;
    font: var(--body1);
}

.productOptions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 14px;
}

.quantity {
    margin-top: 20px;
}

.quantityLabel {
    font: var(--subheading);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.addToCartButton {
    width: 100%;
    margin-top: 40px;
}

.buyItNowButton {
    width: 100%;
    margin-top: 8px;
    background: var(--surface-dark);
}

.additionalInfoSections {
    margin-top: 24px;
}

.additionalInfoSectionTitle {
    font: var(--heading5);
    font-size: 18px;
}

.socialLinks {
    margin-top: 36px;
}

@media (max-width: 1024px) {
    .content {
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
    }
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        row-gap: 24px;
        padding-right: unset;
    }
}

@media (max-width: 480px) {
    .productName {
        font: var(--heading6);
    }

    .addToCartButton {
        width: 100%;
    }
}
