.page {
    padding: 0 0 50px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 8px;
    margin-top: 36px;
    padding: 0 119px 0 0;
    position: relative;
}

.productImagesWrapper {
    padding-left: 8px;
}

.productInfo {
    position: sticky;
    place-self: start;
    top: 106px;
}

.productName {
    font: var(--heading3);
}

.price {
    margin-top: 8px;
    font: var(--heading3);
}

.description {
    margin-top: 8px;
    font: var(--body1);
}

.productOptions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 14px;
}

.quantity {
    margin-top: 20px;
}

.quantityLabel {
    font: var(--subheading);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.addToCartButton {
    width: 100%;
    margin-top: 40px;
}

.buyItNowButton {
    width: 100%;
    margin-top: 8px;
    background: var(--surface-dark-color);
}

.additionalInfoSections {
    margin-top: 24px;
}

.spotlightsSection {
    padding: 0 8px;
}

.banner {
    padding: 0 8px;
}

@media (max-width: 1024px) {
    .content {
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
    }
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        row-gap: 24px;
        padding-right: 8px;
    }

    .productInfo {
        padding: 0 8px;
    }
}

@media (max-width: 480px) {
    .productImagesWrapper {
        padding-left: 0;
    }

    .addToCartButton {
        width: 100%;
    }
}
