.root {
    padding: 14px;
    width: 480px;
    color: var(--content-primary-color);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 14px;
}

/** Toast type: success */
.root.success {
    color: var(--content-invert-color);
    background-color: #61bf33;
}

/** Toast type: error */
.root.error {
    color: var(--content-invert-color);
    background-color: var(--content-error-color);
}

/** Toast type: unspecified */
.root.blank {
    background-color: var(--surface-mid-color);
}

/** Toast type: loading */
.root.loading {
    width: max-content;
    min-width: 150px;
    text-align: center;
    background-color: var(--surface-mid-color);
    color: var(--text-color);
}

@media (max-width: 1024px) {
    .root,
    .root.loading {
        width: 100%;
    }
}

.message {
    flex-grow: 1;
    line-height: 24px;
}

.closeButton {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    flex: none;
    background: none;
    color: currentColor;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
