.imagesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    overflow: auto;
}

.imageWrapper {
    aspect-ratio: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8e6e6;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagePlaceholderIcon {
    width: 210px;
    height: 210px;
    color: #646464;
}

@media (max-width: 1023px) {
    .imagesWrapper {
        grid-template-columns: 1fr;
        gap: 8px;
    }
}

@media (max-width: 767px) {
    .imagesWrapper {
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }
}

@media (max-width: 479px) {
    .imagesWrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
        max-width: 100vw;
        height: 460px;
    }
}
