:root {
    --announcement-content: #ffffff;
    --announcement-surface: #524840;
    --background: #ffffff;
    --border: #e5e5e5;
    --border-strong: #3b3b3b;
    --button-primary-border: #3b3b3b;
    --button-primary-content: #3b3b3b;
    --button-primary-invert-border: #ffffff;
    --button-primary-invert-content: #ffffff;
    --button-primary-invert-surface: #ffffff;
    --button-primary-surface: #ffffff;
    --button-primary-surface-hover: #f7f7f7;
    --button-primary-surface-selected: #3B3B3B;
    --button-secondaty-surface: #000000;
    --button-secondaty-surface-hover: #3B3B3B;
    --footer-surface: #f7f7f7;
    --header-surface: #ffffff;
    --link: #000000;
    --link-default: #666666;
    --link-hover: #666666;
    --popover-background: #ffffff;
    --popover-border: #000000;
    --surface-dark: #000000;
    --surface-light: #ffffff;
    --surface-mid: #f7f7f7;
    --text-disabled: #b2b2b2;
    --text-invert: #ffffff;
    --text-primary: #000000;
    --text-secondary: #666666;
    --focus: #000000;
    --input-border: #3B3B3B;
    --input-surface: #F7F7F7;
    --icon-primary: #000000;
}
