:root {
    --background-color: #ffffff;

    --border-dark-color: #3b3b3b;
    --border-light-color: #e5e5e5;
    --border-error-color: #df3131;

    --button-primary-border: #3b3b3b;
    --button-primary-content: #3b3b3b;
    --button-primary-invert-border: #ffffff;
    --button-primary-invert-content: #ffffff;
    --button-primary-invert-surface: #ffffff33;
    --button-primary-surface-hover: #f7f7f7;
    --button-primary-surface-selected: #3b3b3b;
    --button-primary-surface: #ffffff;
    --button-secondary-surface-hover: #3b3b3b;
    --button-secondary-surface: #000000;

    --content-disabled-color: #b2b2b2;
    --content-invert-color: #ffffff;
    --content-primary-color: #000000;
    --content-secondary-color: #666666;
    --content-error-color: #df1919;

    --focus-ring-color: #000000;

    --overlay-color: #00000033;

    --progress-bar-color: #ffffff;

    --surface-announcement-color: #524840;
    --surface-dark-color: #000000;
    --surface-light-color: #ffffff;
    --surface-mid-color: #f2f2f2;
}
