/**
 * Reusable utility classes.
 */

/* Headings *******************************************************************/

.heading1 {
    font: var(--heading1);
    letter-spacing: var(--letter-spacing-heading);
}

.heading2 {
    font: var(--heading2);
    letter-spacing: var(--letter-spacing-heading);
}

.heading3 {
    font: var(--heading3);
    letter-spacing: var(--letter-spacing-heading);
}

.heading4 {
    font: var(--heading4);
}

.subheading {
    font: var(--subheading);
    text-transform: uppercase;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.display {
    font: var(--display);
    text-transform: none;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Paragraphs *****************************************************************/

.body1 {
    font: var(--body1);
    text-transform: none;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.body1-caps {
    font: var(--body1-caps);
    text-transform: uppercase;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.body2 {
    font: var(--body2);
    text-transform: none;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.body2-caps {
    font: var(--body2-caps);
    text-transform: uppercase;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.body3 {
    font: var(--body3);
    text-transform: none;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

/* Action ********************************************************************/

.action {
    color: var(--link-default);
    font: var(--action);
    text-transform: uppercase;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    &:active {
        color: var(--link-hover);
    }
}

.navlink {
    font: var(--navlink);
    text-transform: none;
    text-decoration: none;
    color: var(--link);
}

.navlink:hover {
    color: var(--text-secondary);
}

/* Text utils ********************************************************************/

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

/* Buttons ********************************************************************/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 7px;
    border: 1px solid var(--button-primary-border);
    font: var(--action);
    background: transparent;
    color: var(--button-primary-content);
    cursor: pointer;
    white-space: nowrap;
    transition: all 200ms ease;
    transition-property: background-color, color;
    text-transform: uppercase;
    line-height: 10px;
    border-radius: 2px;
}

.button:not(:disabled):hover {
    background: var(--button-primary-surface-hover);
}

.button.invert {
    border: 1px solid var(--button-primary-invert-border);
    color: var(--button-primary-invert-content);
}

.button.button-lg {
    padding: 19px 40px;
}

.button:disabled {
    color: var(--text-disabled);
    cursor: default;
    border: 1px solid var(--border);
}

.button:not(:disabled).invert:hover {
    background: rgba(255, 255, 255, 0.2);
}

.button.active {
    background: var(--button-primary-surface-selected);
    color: var(--text-invert);
}

.mutedPrimaryButton {
    border-color: transparent;
    background: var(--secondary3);
    color: var(--primary1);
}

.mutedPrimaryButton:not(:disabled):hover {
    background: rgba(112, 115, 101, 0.7);
    color: var(--primary1);
}

.button.button-secondary {
    background: var(--button-secondaty-surface);
    color: var(--button-primary-invert-content);
}

.button.button-secondary:not(:disabled):hover {
    background: var(--button-secondaty-surface-hover);
}

.button.button-secondary:disabled {
    background: var(--surface-mid);
    border-color: var(--border);
    color: var(--text-disabled);
}

.linkButton {
    border: none;
    background: transparent;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.iconButton {
    border: none;
    background: transparent;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.smallButton {
    padding: 5px 16px;
}

/* Inputs ********************************************************************/

.badge{
    padding: 8px 10px;
    font: var(--body2);
}

.badge.black{
    background-color: var(--surface-dark);
    color: var(--text-invert);
}

/* Inputs ********************************************************************/

.transparentInput {
    border: none;
    background: transparent;
    color: inherit;
}

.textInput {
    border: none;
    background: transparent;
    color: var(--primary5);
    font: var(--paragraph1);
    padding: 8px 0;
    border-bottom: solid 1px rgba(23, 17, 13, 0.4);
    box-shadow: none;

    &:disabled {
        color: var(--primary4);
        opacity: 0.5;
    }

    &:focus,
    &:hover:not(:disabled) {
        border-bottom-color: var(--primary5);
    }

    &::placeholder {
        color: var(--primary4);
    }
}

/* Icons **********************************************************************/

.smallIcon {
    width: 20px;
    height: 20px;
}

/* Recommended icon sizes */
span.size-20 {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 20;
}
span.size-24 {
    font-size: 24px;
    font-variation-settings: 'OPSZ' 24;
}
span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
}
span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}

/* Text Page ******************************************************************/

.textPage {
    max-width: 60em;
    margin: 48px auto;
    text-align: center;
    font: var(--paragraph2);
}

.textPage a {
    text-decoration: underline;
}

.textPage h1 {
    font: var(--heading2);
}

.textPage h2 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 36px 0 24px 0;
}

.textPage > div {
    margin-top: 24px;
}

@media (max-width: 768px) {
    .textPage {
        margin-top: 24px;
        text-align: left;
    }

    .textPage h1 {
        font: var(--heading3);
    }

    .textPage h2 {
        font-size: 20px;
    }
}

/* Hero Banner ****************************************************************/

.heroBanner {
    height: 720px;
    position: relative;
    color: var(--text-invert);
    background: #000;
}

.heroBannerOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    position: absolute;
    inset: 0;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    gap: 28px;
}

.heroBannerImage {
    opacity: 0.8;
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
}

.heroBannerSubtitle {
    width: 54%;
    letter-spacing: 0.2em;
    padding-bottom: 12px;
}

.heroBannerTitle {
    font: var(--heading1);
    font-size: 6vw;
    text-transform: uppercase;
}

/* Text Banner ****************************************************************/

.textBannerSection {
    min-height: 35vw;
    padding: 50px 10px;
    align-content: center;
}

.textBanner {
    max-width: max(60vw, 500px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    line-height: 1;
}

.textBannerTitle {
    margin-bottom: 10px;
    font-size: max(30px, 4.3vw);
    line-height: 1.1;
}

.textBannerSubtitle {
    margin-bottom: 15px;
    font-size: max(14px, 1.45vw);
    text-transform: uppercase;
    white-space: nowrap;
}

/* Link Card ******************************************************************/

.linkCard {
    container-type: inline-size;
    position: relative;
    isolation: isolate;
    display: grid;
    place-content: center;
    overflow: hidden;
    background: #000;
}

.linkCardBackground {
    position: absolute;
    z-index: 1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 2.2s cubic-bezier(0.14, 0.4, 0, 1);

    .linkCard:hover > & {
        transform: scale(1.11);
    }
}

.linkCardTitle {
    z-index: 2;
    padding: 30px;
    text-transform: uppercase;
    color: var(--primary1);
    font: var(--heading4);
    text-align: center;
}

@container (max-width: 300px) {
    .linkCardTitle {
        font-size: 30px;
    }
}

/* Floating Card **************************************************************/

.floatingCard {
    width: 32%;
    aspect-ratio: 0.8;
    padding: 22px;
    background: var(--primary2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.floatingCardHeader {
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
}

.floatingCardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.floatingCardTitle {
    font: var(--heading2);
    line-height: 1.2;
    font-size: max(26px, 3.1vw);
    text-transform: uppercase;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin: 2% 0;
    text-wrap: balance;
}

.floatingCardDescription {
    margin-bottom: 8%;
    text-wrap: balance;
}

.floatingCardBackground {
    margin-inline: calc(-1 * var(--pagePaddingHoriz));
    padding: 8% 12%;
    aspect-ratio: 2;
}

@media (max-width: 1024px) {
    .floatingCard {
        width: 42%;
        aspect-ratio: 0.9;
    }

    .floatingCardBackground {
        padding: 10% 7%;
        aspect-ratio: 1.6;
    }
}

@media (max-width: 768px) {
    .floatingCard {
        width: 80%;
        margin: 0 auto;
    }

    .floatingCardBackground {
        padding-top: 20%;
        aspect-ratio: 0.9;
    }
}

@media (max-width: 480px) {
    .floatingCardHeader,
    .floatingCardDescription {
        font: var(--paragraph3);
    }
}

/* Cards Section **************************************************************/

.cardsSection {
    display: flex;
    gap: 4px;
    margin-bottom: 5%;
}

.cardsSection > * {
    aspect-ratio: 0.75;
    flex: 1 1 0;
}

@media (max-width: 768px) {
    .cardsSection {
        flex-direction: column;
        gap: 8px;
    }

    .cardsSection > * {
        flex: 0;
    }
}

/* Tabs **************************************************************/

.tabs {
    display: flex;
    border-bottom: 1px solid var(--secondary1);
    overflow: auto;
    gap: 12px;
}

.tab {
    padding: 3px 2px;
    border-bottom: 0 solid transparent;
    flex-shrink: 0;
}

.tab:hover {
    border-bottom-color: var(--secondary2);
}

.tab.active {
    border-bottom-color: var(--secondary3);
}

@media (max-width: 768px) {
    .tab {
        padding: 14px 20px;
    }

    .tab.active {
        color: var(--primary4);
    }

    .tab.active,
    .tab:hover {
        border-bottom-color: transparent;
    }
}

/* Miscellaneous **************************************************************/

.alternateBackground {
    background: var(--primary3);
}

.ribbon {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 12px;
    border-radius: 100px;
    background: var(--primary2);
    font: var(--paragraph3);
    text-transform: uppercase;
    white-space: nowrap;
}

.slider {
    --track-color: var(--secondary2);
    --range-color: var(--primary5);
    --thumb-color: var(--primary5);
    --focus-ring-color: inherit;
}

.colorSelect {
    --option-size: 44px;
    --border-color: var(--primary3);
    --border-color-hover: var(--primary5);
    --border-color-selected: var(--primary4);
    --border-color-error: var(--error-color);
}
