.trigger {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 8px 12px;
    background: var(--input-surface);
    border: 1px solid var(--input-border);
    color: var(--text-primary);
    cursor: pointer;
    border-radius: 2px;
}

.trigger:focus-visible {
    box-shadow: none;
}

.trigger.hasError {
    border-color: var(--error-color);
}

.trigger:hover,
.trigger:focus,
.trigger[data-state='open'] {
    border-color: #000;
}

.trigger[data-placeholder] {
    color: var(--body2);
}

.triggerIcon {
    padding: 0 8px;
    display: flex;
    color: var(--primary5);
}

.trigger[data-state='open'] .triggerIcon {
    transform: rotate(180deg);
}

.content {
    width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-top: none;
}

.content:focus-visible {
    box-shadow: none;
}

.item {
    height: 35px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    color: var(--text-primary);
    cursor: pointer;
    font: var(--body2);
}

.item:focus-visible {
    box-shadow: none;
}

.item:hover,
.item:focus {
    background: var(--surface-mid);
}
