.root {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
}

.labels {
    font: var(--body3);
    display: flex;
    justify-content: space-between;
}

.clearButtonWrapper{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
