.select {
    width: auto;
    justify-content: end;
    background: none;
    border: none;
    height: 28px;
    padding: 5px 8px;
    font: var(--action);
    text-transform: uppercase;
}

.selectDropdown {
    margin-top: 8px;
    width: auto;
    text-wrap: nowrap;
    padding: 8px;
    background: var(--surface-light);
    box-shadow: 0 0 10px 0 #0000001A;
    border-radius: 2px;
    border: unset;

}

.selectDropdown:focus-visible {
    box-shadow: 0 0 10px 0 #0000001A;
}

.itemsWrapper{
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.selectItem {
    height: 38px;
    padding: 12px 14px;
    font: var(--paragraph3);
    border: 0.5px solid var(--border, #E5E5E5)
}

.selectItem[data-state='checked'] {
    background: var(--surface-mid);
    border: 1px solid var(--border-active, #3B3B3B)
}

.selectItem:hover,
.selectItem:focus {
    background: var(--surface-mid);
}
