.root {
    margin: 0 calc(-1 * var(--pagePaddingHoriz));
    padding: 75px var(--pagePaddingHoriz);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 12px;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.headerDescription {
    width: 83%;
    font: var(--paragraph1);
    font-size: 20px;
    text-wrap: balance;
}

.products {
    display: grid;
    grid-auto-columns: minmax(0, 640px);
    grid-auto-flow: column;
    gap: 4px;
    width: 100%;
}

@media (max-width: 1024px) {
    .headerDescription {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .root {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .header {
        display: block;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .headerTitle {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .headerDescription {
        font-size: 14px;
    }

    .products {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        gap: 26px 10px;
    }
}
