.root {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 4px;
}

.clearFiltersButton {
    margin-top: 32px;
}

.clearFiltersButton:hover {
    color: rgba(23, 17, 13, 0.7);
}

@media (max-width: 767px) {
    .productGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}
