.saleBar {
    height: 44px;
    background: var(--surface-dark-color);
    display: flex;
    gap: 64px;
    color: var(--content-invert-color);
    pointer-events: none;
    user-select: none;
}

.saleBarItem {
    align-content: center;
    padding-right: 48px;
    padding-left: 48px;
}
