.drawer {
    margin-top: 30px;
    max-width: 440px;
}

.menu {
    padding: 112px 0;
}

.menuItems {
    font: var(--heading4) !important;
}

.closeButton {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 20px;
    height: 20px;
    padding: 0;
}

@media (max-width: 768px) {
    .drawer {
        max-width: none;
    }
}
