.root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 30px var(--pagePaddingHoriz);
    background: var(--primary3);
    padding-bottom: 64px;
    padding-top: 64px;
    gap: 64px;
}
.navWrapper{
    display: flex;
    align-items: stretch;
    gap: 104px;
    width: 100%;
}
.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    width: 100%;
}

.navList {
    list-style-type: none;
    padding: 0;
}

.navItem {
    display: block;
    font-size: 16px;
    line-height: 2.2;
    white-space: nowrap;
}

.navItem.active {
    color: #5b4b34;
}

.bottomBar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: auto;
}

.copyright {
    font: var(--paragraph3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coduxLink {
    text-decoration: underline;
}

.description {
    width: 320px;
    font: var(--body2);
}

@media (max-width: 768px) {
    .root{
        padding-bottom: 48px;
        padding-top: 48px;
        gap: 48px;
    }
    .navigation {
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .navWrapper{
        flex-direction: column;
        gap: 48px;
    }
}
