.page {
    padding: 0 8px 50px;
}

.content {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.categoryList {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0;
}

.categoryLink {

}

.filters {
    margin-top: 48px;
    border-bottom: 1px solid rgba(23, 17, 13, 0.2);
}

.main {
    flex: 1;
}

.categoryHeader {
    margin-bottom: 46px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.categoryName {
    font: var(--heading1);
    text-transform: uppercase;
}

.categoryDescription {
    max-width: 470px;
    font: var(--body1-caps);
    text-transform: uppercase;
}

.countAndSorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 40px 8px;
}

.productsCount {
    font: var(--body2-caps);
    text-transform: uppercase;
}

.filtersAndSorting {
    align-items: center;
    display: flex;
    gap: 8px;
}

.loadMoreWrapper {
    margin-top: 40px;
    padding: 24px;
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
}
