.item {
    border-bottom: 1px solid var(--border-light-color);
}

.header {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px 0;
}

.headerContent {
    flex-grow: 1;
    font: var(--subheading);
    text-transform: uppercase;
}

.toggleIconContainer {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4px;
}

.content {
    overflow: hidden;

    --transitionDuration: 0.4s;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transitionDuration) ease-in-out;
}

.expanded {
    grid-template-rows: 1fr;
}

.contentExpander {
    overflow: hidden;
    height: 0;
    transition: overflow 0s;
    transition-behavior: allow-discrete;
}

.expanded .contentExpander {
    overflow: visible;
    transition-delay: var(--transitionDuration);
    height: auto;
}

.contentInner {
    padding-bottom: 25px;
    font: var(--body2);
}

.small .contentInner {
    padding-bottom: 16px;
}
