.root {
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    border: none;
    background: transparent;
}

.link {
    display: flex;
    align-items: center;
    color: var(--content-primary-color);
    font: var(--navlink);
}

.dropdownItem {
    border-color: transparent;
    height: auto;
}

.dropdownItem:hover {
    border-color: transparent;
    height: auto;
}

.icon {
    display: none;
}

@media (max-width: 1024px) {
    .label {
        display: none;
    }

    .icon {
        display: flex;
        align-items: center;
    }
}
