.root {
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.link {
    display: block;
    font: var(--navlink);
}

.icon{
    display: none;
    span{
        font-variation-settings: 'OPSZ' 20;
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .label{
        display: none;
    }

    .icon{
        display: flex;
        align-items: center;
    }
}

