.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.error {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--content-error-color);
}

.colorSelect {
    --option-size: 48px;
}

.quickViewColorSelect {
    --option-size: 24px;
}

.quickViewRow {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.quickViewSizes {
    display: flex;
    justify-content: end;
    align-items: center;
    font: var(--body2);
    text-transform: uppercase;
    gap: 2px;
}

.option {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 2px;
    overflow: clip;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option:hover {
    border: 1px solid var(--border-light-color);
}

.option.selected {
    border: 1px solid var(--surface-dark-color);
}

.option.disabled {
    color: var(--content-disabled-color);
}
