.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%;
    position: relative;
}

.bannerContentWrapper {
    height: 600px;
    background-color: var(--surface-mid-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    width: 100%;
    text-align: center;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    width: 100%;
}

.bannerSubheading {
    font: var(--subheading);
    text-transform: uppercase;
}

.bannerTitle {
    font: var(--heading1);
    text-transform: uppercase;
}

.bannerButton {
    padding: 10px 20px;
}

.bannerImageWrapper {
    width: 100%;
    height: 600px;
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .bannerTitle {
        font: var(--heading2);
    }
    .banner {
        grid-template-columns: 1fr;
    }

    .bannerContentWrapper {
        height: 280px;
        order: 2;
    }

    .bannerImageWrapper {
        order: 1;
        height: 280px;
        width: 100%;
    }
}
