.root {
    --thumb-size: 12px;
    --track-height: 2px;
    --track-color: rgba(0, 0, 0, 0.38);
}

.root {
    position: relative;
    width: 100%;
    height: var(--thumb-size);
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 9px;
}

.root[data-disabled] {
    filter: grayscale(1);
    opacity: 0.5;
    cursor: default;
}

.track {
    position: relative;
    flex-grow: 1;
    height: var(--track-height);
    border-radius: 2px;
    background-color: var(--track-color);
}

.range {
    position: absolute;
    opacity: 38%;
    background-color: var(--content-primary-color);
    border-radius: 999px;
    height: 100%;
}

.thumb {
    display: block;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background-color: var(--content-primary-color);
    border-radius: 999px;
}

.thumb:focus-visible {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 1px;
}
